doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='theme-color', content='#000000')
    meta(content='ie=edge', http-equiv='x-ua-compatible')
    link(rel='stylesheet', href='/assets/css/user.css')
    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='/favicon.ico')
    title Кабинет
    link(href='/static/css/main.870d6879.css', rel='stylesheet')
  body
    noscript You need to enable JavaScript to run this app.
    #root
    script(type='text/javascript', src='/static/js/main.c25dde8b.js')
